body {
    margin: 0
}

.myContainer {
    display: flex;
    justify-content: start;
}

.sidenav {
    height: 100vh;
    width: 200px;
    float: left;
    position: relative;
    background-color: blue;
}

.content {
    height: 100vh;
    width: calc(100% - 200px);
    float: right;
    position: relative;
    background-color: #f8f9fa;
    overflow-y: scroll;
}

.blog-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}