body {
    margin: 0
}

.myContainer {
    display: flex;
    justify-content: start;
}

.sidenav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: pink;
}

.content {
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    /* overflow: auto; */
    background-color: red;
    /* overflow-y: scroll; */
}

.blog-entry-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}